<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="{{ BASE_PATH }}assets/css/bootstrap.css" rel="stylesheet">
  <link href="{{ BASE_PATH }}assets/css/responsive.css" rel="stylesheet">
  <link href="{{ BASE_PATH }}assets/css/font-awesome.css" rel="stylesheet">
  <link href="{{ BASE_PATH }}assets/css/custom.css" rel="stylesheet">
  <link href="{{ BASE_PATH }}assets/css/files.css" rel="stylesheet">
  <link href="{{ BASE_PATH }}assets/themes/twitter/css/style.css" rel="stylesheet">
</head>
<body>
