
{% include head.html %}

 <div class="wrapper">

 <div class="container">

  <div class="content">
    <h1>{{ page.title }}</h1>
     {{ content }}
  </div>

 {% include nav.html %}


 </div> <!-- /container -->

</div> <!-- /wrapper -->

 <!-- Le javascript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
 <script src="{{ HOME_PATH }}assets/js/jquery.js"></script>
 <script src="{{ HOME_PATH }}assets/js/bootstrap.min.js"></script>
 <script src="{{ HOME_PATH }}assets/js/switch.js"></script>
 <script src="{{ HOME_PATH }}assets/js/get-issues.js"></script>

 {% include foot.html %}
